button {
	background: rgba(#ffffff, 0);
	border: none;
}


button.nav-contact {
	color: white;
	text-transform: uppercase;
	padding: 10px 15px 9px 15px;
	font-weight: 800;
	font-size: 0.8rem;
	border-radius: 5px;
	margin: 0;
	transition: all 0.3s cubic-bezier(0.16, 0.91, 0.56, 1.15);
	&:hover {
		background: white;
	}
}
