@include google-font(Source Sans Pro, 300 400 600 700);
@include google-font(Roboto Slab, 300 400 700);

$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Roboto Slab', serif;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 16px;
  @include tablet {
    font-size: 13px;
  }
  @include mobile {
    font-size: 10px;
  }
}

p, a {
	font-size: 1rem;
	margin-bottom: 1rem;
	font-family: $font-secondary;
	color: rgba(#000000, 0.9);
	line-height: 1.6rem;
}

a {
  margin: 0;
}

nav a {
	font-family: $font-primary;
}

h1, h2, h3, h4 {
  font-family: $font-primary;
	margin-bottom: 0rem;
  font-weight: 700;
  line-height: 1.2;
	color: black;
}

h1 {
  font-size: 4.998rem;
	margin-bottom: 2rem;
}

h2 {
	font-size: 2.827rem;
}

h3 {
	font-size: 1.6rem;
	font-family: $font-secondary;
}

h4 {
	font-size: 1.414rem;
}

small, .font_small {
	font-size: 0.707rem;
}

span.big-dot {
	font-size: 1.2em;
}

.center {
	text-align: center;
}
.right {
	text-align: right;
}
