.site-footer{
  background-color: #3F3E40;
}

#footer-text{
  text-align: center;
  color: #ffffff;
  font-size: 1.6vw;
  letter-spacing: .8px;
}

@media screen and (max-width:600px){
  #footer-text{
    font-size: 100%;
  }
}
