.topnav {
	overflow: hidden;
	background-color: $black;
	display: flex;
	align-items: stretch;
	line-height: 60px;
	height: 80px;
	@include mobile {
	 display: block;
	 height: auto;
	}
}

.topnav {
  .logo a {
    font-family: 'After Night', cursive;
    color: #ffffff;
    display: flex;
  }
  .options {
    #whiteback {
      background-color: #ffffff;
      border-radius: 0.5rem;
      color: black;
      padding: 5px;
    }
    a {
      color: #ffffff;
      padding: 30px 30px;
      text-decoration: none;
      font-size: 25px;
      font-weight: bold;
      @media screen and (max-width: 1250px){
        padding: 10px 10px;
      }
    }
  }
}

#myTopnav {
  height: 100px;
  display: flex;
  padding-top: 30px;
}

#myTopnav > div.logo.flex1 > a{
	font-family: afternight;
	font-size: 40px;
	text-decoration: none;
}



#aboutlink #homebuildinglink #gallerylink #contactlink {
 float:right;
}

// .topnav a:hover {
//  color: black;
// }

.active {
 background-color: #ffffff;
 color: white;
}

img {
 flex:1;
 width:80%;
 height:auto;
}

@media screen and (max-width:415px){
 img{
    margin-top: 5vw;
	}
}

.topnav .icon {
 display: none;
}


@include mobile {
	.topnav {
	  .options a {display: none;}
	}
 .topnav a.icon {
   float: right;
 }
}

@media screen and (max-width: 1200px) {
 .topnav.responsive {
   position: right;
   align-items: none;
	}
 .topnav.responsive .icon {
   position: absolute;
   right: 0;
   top: 0;
 	}
 .topnav.responsive a {
   float: none;
 //  display: block;
   text-align: center;
 	}
}


//Mobile menu bar
.dropdown{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: $black;
  transform: translateY(-110%);
  transition: transform 0.3s linear;
  text-align: center;
  z-index: 9999;
  ul, ol {
    margin: 0 0 0 0 !important;
		padding-left: 0px;
  }
  ul{
    list-style-type: none;
    color:$white;
    li {
      color: $white;
      font-size: 20px;
      a:click {
        background-color: #ff0000;
      }
    }
  }
	@media screen and (min-width:1190px){
		display: none;
	}
}

#dropdown-menu> ul > li:nth-child(1) > a{
  color: $white;
  font-size: 5vw;
  text-decoration: none;
}
#dropdown-menu> ul > li:nth-child(2) > a{
  color: $white;
  font-size: 5vw;
  text-decoration: none;
}
#dropdown-menu> ul > li:nth-child(3) > a{
  color: $white;
  font-size: 5vw;
  text-decoration: none;
}
#dropdown-menu> ul > li:nth-child(4) > a{
  color: $white;
  font-size: 5vw;
  text-decoration: none;
}

.drop{
  transform: translateY(0);
  margin-top: 81px;
}

.row .three{
	padding: 80px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #ffffff;
	color: #ff0000;
	text-align: center;
}

.hamburger {
	z-index: 999;
	top: 0px;
	left: 100px;
	@media screen and (min-width: 1200px){
		display: none;
	}
}

.hamburger .line{
	width: 35px;
	height: 4px;
	background-color: #ffffff;
	display: block;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.hamburger:hover{
 cursor: pointer;
}

// NINE

#hamburger-9{
 position: relative;
 -webkit-transition: all 0.3s ease-in-out;
 -o-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
	margin-right: 100px;
}

#hamburger-9.is-active{
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 99999;
}

#hamburger-9:before{
 content: "";
 position: absolute;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 width: 50px;
 height: 50px;
 border: 4px solid transparent;
 top: calc(50% - 25px);
 left: calc(50% - 25px);
 border-radius: 100%;
 -webkit-transition: all 0.3s ease-in-out;
 -o-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}

#hamburger-9.is-active:before{
 border: 4px solid #ffffff;
}

#hamburger-9.is-active .line{
 width: 35px;
}

#hamburger-9.is-active .line:nth-child(2){
 opacity: 0;
}

#hamburger-9.is-active .line:nth-child(1){
 -webkit-transform: translateY(9px);
 -ms-transform: translateY(9px);
 -o-transform: translateY(9px);
 transform: translateY(9px);
}

#hamburger-9.is-active .line:nth-child(3){
 -webkit-transform: translateY(-9px) rotate(90deg);
 -ms-transform: translateY(-9px) rotate(90deg);
 -o-transform: translateY(-9px) rotate(90deg);
 transform: translateY(-9px) rotate(90deg);
}
